Src/EAP/Service References/LogService/LogService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/EAP.Logger" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/EAP.Logger" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LogEvent">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Caption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IPAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Level" type="tns:LogLevel" />
      <xs:element minOccurs="0" name="LogTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reporter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemInfo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogEvent" nillable="true" type="tns:LogEvent" />
  <xs:simpleType name="LogLevel">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Trace" />
          <xs:enumeration value="Info" />
          <xs:enumeration value="Debug" />
          <xs:enumeration value="Warn" />
          <xs:enumeration value="Error" />
          <xs:enumeration value="Fatel" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="LogLevel" nillable="true" type="tns:LogLevel" />
</xs:schema>